.Memheader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 70px;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .Memnav {
    display: flex;
    gap: 2rem;
    align-items: center;
    float: right;
    padding-left: 88%;
  }
  
  .Mem-link {
    color: black;
    font-size: 1.4rem;
    font-weight: 800;
    transition: color 0.3s ease;
    padding-left: 18px;
  }
  
  .Mem-link:hover {
    color: #FF7710;
  }
